__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
env/

# IDE settings
.vscode/
.idea/

# AI Weights and Datasets (Crucial: Keep GitHub repo lightweight)
*.pt
*.env
*.sh
*.onnx
*.engine
runs/
datasets/
data/
gyard/
data_1/
data_2/
medical_env/
exe_env/
train_env/
AI handwash/dataset-pskus/DataSet1/
AI handwash/dataset-pskus/DataSet2/
AI handwash/dataset-pskus/DataSet3/
AI handwash/dataset-pskus/DataSet4/
AI handwash/dataset-pskus/DataSet5/
AI handwash/dataset-pskus/DataSet6/
AI handwash/dataset-pskus/DataSet7/
AI handwash/dataset-pskus/DataSet8/
AI handwash/dataset-pskus/DataSet9/
AI handwash/dataset-pskus/DataSet10/
AI handwash/dataset-pskus/DataSet11/
AI handwash/dataset-pskus/PSKUS_dataset/
AI handwash/dataset-pskus/

AI handwash/dataset-pskus/PSKUS_dataset_preprocessed/
AI handwash/dataset-pskus/PSKUS_dataset_who/
AI handwash/handwash-master/

*pskus_videosfinal_model.h5
*hospital_camera.env
*get-and-preprocess-dataset.sh
*create_snippets.sh
*who_rf_model.pkl
*who_xgb_model.pkl
*who_lstm_model.onnx
*who_handwashing_dataset_01.csv
*who_handwashing_dataset.csv
# OS Specific
Thumbs.db
.DS_Store

# Executables or distribution outputs
dist/
build/
*.exe

runs/
*.pt
*.onnx
*.mp4
*.avi
database/
best_openvino_model/
obj_train_data/
images/
labels/