__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
env/

# IDE settings
.vscode/
.idea/

# AI Weights and Datasets (Crucial: Keep GitHub repo lightweight)
*.pt
*.onnx
*.engine
runs/
datasets/
data/
gyard/
data_1/
data_2/
medical_env/
exe_env/

# OS Specific
Thumbs.db
.DS_Store

# Executables or distribution outputs
dist/
build/
*.exe

runs/
*.pt
*.onnx
*.mp4
*.avi
database/
best_openvino_model/
obj_train_data/
images/
labels/